# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log

# Ignore the logs and output directories but keep .gitkeep files
logs/
!logs/.gitkeep

output/
!output/.gitkeep

# Ignore specific image files
student_teacher_map.png
combined_map.png
autoencoder_map.png
original_image.png

# Ignore Jupyter Notebook files
prediction.ipynb
